.vergelijk html,
.vergelijken body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media (max-width: 767.98px) {
  .vergelijken .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .vergelijken .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
.vergelijken nav{
  background-color: red;
}
.vergelijken h1{
  margin-left: 2rem;
  color: white;
}
.vergelijken .nav-link{
  margin-right: 2rem;
  color: white;
}

.vergelijken .nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.vergelijken .nav-scroller .nav-link:hover {
  color: #007bff;
}

.vergelijken .nav-scroller .active {
  font-weight: 500;
}

.vergelijk .btn {
  color: white;
}

.vergelijken article {
    display: flex;
    flex-wrap: wrap;
}

.vergelijken .border {
    width: 25%;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 15%;
}

.vergelijken img {
    height: 15rem;
} 