:root {
  --colour-primary: #f9f9f9;
  --colour-secondary: #f9f9f9;
  --colour-tertiary: #f9f9f9;
  --colour-quaternary: #f9f9f9;
}
body.login-main {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "waves waves login";
  height: 100vh;
  overflow: hidden;
}
.waves {
  grid-area: waves;
  background-color: #5284be;
  width: auto;
  padding: 0;
  margin: 0;
}
.login {
  grid-area: login;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: lightgrey;
  border-radius: 2vh;
  padding: 2vw;
}
