<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-danger text-uppercase" aria-label="Main navigation">
    <div class="container-fluid">
        <% if (user.activepokemon) {%>
            <a class="navbar-brand" href="/pokemon/<%=user.activepokemon%>">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/<%=user.activepokemon%>.png"
                    style="height: auto; width: 30px;">
            </a>
            <% } else { %>

                <img src="https://pngimg.com/uploads/pokeball/pokeball_PNG8.png" style="height: auto; width: 30px;">
                <% } %>
                    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Mijn
                                    Pokemon's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/vergelijken">Vergelijken</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/battler">Vechten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/catcher">Vangen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/whothat">Who's that pokemon</a>
                            </li>
                        </ul>
                        <a class="nav-link" href="/logout">logout</a>
                    </div>
    </div>
</nav>