<%- include("partials/header") %>


  <body>

    <%- include("partials/nav") %>

      <section class="container-fluid">
        <div id="catchthis">
          <img src="assets/charizard.png" class="charizard" alt="">
        </div>
        <section class="pokeballbody">
          <div class="pokeball"></div>
          <div class="pokebtn"></div>
        </section>
  </body>

  <%- include("partials/footer") %>