<%- include("partials/header") %>
<body class="landingpage">
   
    <div class="square-container">
        <span class="square-text">Welkom! Kies een Project om mee te starten</span>
      </div>
      <div class="page">
        <div class="container overflow-hidden text-center">
          <section class="landbtns">
            <h2>Pokémon</h2>
          <a href="index.html"><button type="button" class="btn btn-dark btn-square-md pikachu-btn" title="pokemon">
          </button></a></section>
          <section class="landbtns">
            <h2>FIFA</h2>
          <a href="wrong_project.html"><button type="button" class="btn btn-dark btn-square-md fifa-btn" title="FIFA">
          </button></a></section>
          <section class="landbtns">
            <h2>Fortnite</h2>
            <a href="wrong_project.html"><button type="button" class="btn btn-dark btn-square-md fort-btn" title="fortnite">
          </button></a></section>
          <section class="landbtns">
            <h2>Lego Masters</h2>
            <a href="wrong_project.html"><button type="button" class="btn btn-dark btn-square-md lego-btn" title="Lego Masters">
          </button></a></section>
          <section class="landbtns">
            <h2>LOTR</h2>
            <a href="wrong_project.html"><button type="button" class="btn btn-dark btn-square-md lotr-btn" title="LOTR">
          </button></a></section>
          <section class="landbtns">
            <h2>Magic The gathering</h2>
            <a href="wrong_project.html"><button type="button" class="btn btn-dark btn-square-md mtg-btn" title="Magic the gathering">
          </button></a></section>
        </div>
      </div>
    
</body>

<%- include("partials/footer") %>