<%- include("partials/header") %>

  <body>
    <%- include("partials/nav") %>
      <div class="row vergelijken" style="margin-right: auto !important;">
        <div class="col-5">
          <section class="card text-center card-nohover">
            <article class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" id="pokemon1" value="Pikachu" placeholder="Naam">
                  </div>
                  <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="zoeken">
                  </div>
                </div>
              </form>
            </article>
            <article class="pokemonimg"><img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/25.png"
                class="card-img-top" alt="een afbeelding van"></article>

            <article class="card-body">
              <h2>STATS</h2>
              <h3>HP: 40</h3>
              <h3>ATT: 45</h3>
              <h3>DEF: 35</h3>
            </article>
          </section>
        </div>
        <div class="col-5">

          <section class="card text-center card-nohover">
            <article class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" id="pokemon1" value="bulbasaur" placeholder="Naam">
                  </div>
                  <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="zoeken">
                  </div>
                </div>
              </form>
            </article>
            <article class="pokemonimg">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png"
                class="card-img-top" alt="een afbeelding van bulbasaur">
            </article>
            <article class="card-body">
              <h2>STATS</h2>
              <h3>hp: 45</h3>
              <h3>attack: 49</h3>
              <h3>defense: 49</h3>
            </article>
          </section>
        </div>
      </div>
      <%- include("partials/footer") %>