<%- include("partials/header") %>



<body class="whothat">
<%- include("partials/nav") %>
<article class="container-fluid row justify-content-center">
    <section class="card text-center fire">
      <div class="card-body">
        <h1 class="card-title">who's that pokemon?</h1>
        <img src="assets/whothatpokemon.jpg" class="card-img-top" alt="..."></img>

      </div>
  </article>
  <div class="form-group col-1">
    <label for="pokemonname">Welke Pokemon is dit?</label>
    <textarea class="form-control" rows="5" id="pokemonname" placeholder="auto-complete..."></textarea>
  </div>

</body>
<%- include("partials/footer") %>







<%- include("partials/footer") %>